.login{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    background: url(https://ww4.sinaimg.cn/mw690/92e8647agw1f0hec81ekxg20ho09yu0y.gif)  no-repeat;
    background-size: 100vw 100vh;
    .Select{
        width: 100%;
        display: flex;
        margin-top: 100px;
        justify-content: space-around;
        height: 20px;

    }
    .from{
    width: 340px;
    padding: 30px;
    height: 300px;
    display: flex;
    align-items: center;
    img{
        margin-top: 5px;
        width: 90px;
        border-radius: 5px;
    }
    

    }
  
    
   
    
}
