.header {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
}
