.from{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 100px;
    width: 100%;

    .flex{
        display: flex;
        justify-content: end;
        // max-width: 400px;
        height: 50px;
        margin-top: -2.5%;
        margin-left: -5%;
        width: 100%;
        // position: absolute;
        // bottom: -35%;
        // right: 5%;
    }
}